@page "/editgame"
@using BlazorApp1.Clients


<PageTitle>New Game</PageTitle>
<h3>New Game</h3>

@if (genres is null)
{
    <p><em>Loading...</em></p>
}
else
{    
    <div class="row">
        <div class="col-md-6">
            <EditForm Model="@game" FormName="editGame" OnSubmit="HandleSubmit">
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <InputText id="name" @bind-Value="game.Name" class="form-control"  />       
                </div> 
                <div class="mb-3">
                    <label for="genre" class="form-label">Genre:</label>
                    <InputSelect id="genre" @bind-Value="game.GenreId" class="form-select">
                        <option value="">Select a genre</option>
                        @foreach (var genre in genres)
                        {
                            <option value="@genre.Id">@genre.Name</option>
                        }
                    </InputSelect>        
                </div> 
                <div class="mb-3">
                    <label for="price" class="form-label">Price:</label>
                    <InputNumber id="price" @bind-Value="game.Price" class="form-control"  />       
                </div> 
                <div class="mb-3">
                    <label for="releaseDate" class="form-label">Release Date:</label>
                    <InputDate id="releaseDate" @bind-Value="game.ReleaseDate" class="form-control"  />       
                </div>
    
                <button type="submit" class="btn btn-primary">Submit</button>
            </EditForm>
        </div>
    </div>
}


@* defining the instances of Gamedetails objects that is gonna be binding with the Form(input) *@
@code {
    [SupplyParameterFromForm]//for defining "game" als "model? to add to it the data submitted
    private GameDetails game { get; set; } = new()//"game" is the new game submited
	{
		Name = string.Empty,
		ReleaseDate = DateOnly.FromDateTime(DateTime.UtcNow)
	};

    //the instance of genderclient:
    private GenresClient genresclient = new();
    //and the instance of GamesClient:
    private GamesClient gamesClient = new();

    private Genre[]? genres;
    protected override void OnInitialized()
    {
        genres = genresclient.GetGenres();
    }

    //To handle de Add of new games
    //Then we must include this method in the EditForm
    private void HandleSubmit()
    {
        gamesClient.AddGame(game);
    }
}
